<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FAFOS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
                  </configSections>
  <connectionStrings>
    <add name="FAFOS" connectionString="Data Source=.;Initial Catalog=FAFOS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FAFOS.Properties.Settings.FAFOS" connectionString="Data Source=.\SEDGESQL;AttachDbFilename=C:\Users\Josh\Downloads\SEdge2013-1\NI-FAFOS\SEdge2013\SystemDatabase\EXPRESS\FAFOS.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="FAFOS.Properties.Settings.HQ" connectionString="Data Source=.\SEDGESQL;AttachDbFilename=C:\Users\Josh\Downloads\SEdge2013-1\NI-FAFOS\SEdge2013\SystemDatabase\EXPRESS\FAFOS_HQ.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
    <FAFOS.Properties.Settings>
      <setting name="FranchiseeID" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ProfilePics" serializeAs="String">
        <value />
      </setting>
    </FAFOS.Properties.Settings>
  </userSettings>
</configuration>
